- content_for :leftcol do
  :css
    #container {
        background: url("/images/backgrounds/hamster-wheel.png") no-repeat scroll right bottom transparent;
        height: 700px;
        padding-top: 0;
        position: relative;
        top: 6px;
    }

    #mast {
        display: none;
    }

    #left-col {
        display: block;
        font: 12px/20px Arial,Helvetica,sans-serif;
        margin: 0 auto;
        min-height: 650px;
        padding: 0;
        vertical-align: top;
        width: 1200px;
    }

    #mlg-footer {
        margin-top: 0;
    }

    .twitter {
        background-color: #FFF;
        border: 1px solid #DADADA;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block; font: 12px/20px Arial,Helvetica,sans-serif;
        margin-left: 100px;
        margin-top: 30px;
        width: 335px;
    }

    .twitter h1 {
        top: 0px;
        border-bottom: 1px solid #CCCCCC;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px;
        padding: 14px 20px 10px;
    }

    h4 {
        color: #E9E8E8;
        font-size: 72pt;
        font-weight: 700;
        line-height: 74pt;
        padding-top: 25px;
    }

    h5 {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        padding-left: 50px;
    }

    p {
      padding-left: 55px;
    }

    .twtr-ft a img {
      display: none;
    }

    .twtr-hd {
      display: none;
    }
  %h4 #{status_code} ERROR
  %h5 Whoops! Looks like the little guy managed to escape.
  %p
    Give us a minute to hunt him down and get the site back up.
    %br/
    %br/
    He's probably hiding in the sofa again.
  .twitter
    %h1 Twitter
    %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 6000,
        width: 335,
        height: 345,
        theme: {
          shell: {
            background: 'transparent',
            color: '#252525'
          },
          tweets: {
            background: 'transparent',
            color: '#252525',
            links: '#1966aa'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('mlg').start();
