body {
    background: url("/images/nav-bg.jpg") repeat-x scroll 0 0 #000;
    color: #FFF;
    font: 12px/20px Arial,Helvetica,sans-serif;
    text-align: left;
    margin: 0;
}

#header {
    background: url("/images/nav-bg.jpg") repeat-x scroll 0 0 transparent;
    height: 114px;
    padding: 0;
    width: 100%;
    z-index: 100;
}

header.main {
    margin: 0 auto;
    width: 1150px;
}

h5 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 50px;
}

p {
  color: #fff;
  padding-left: 55px;
}
